<mat-nav-list>
    <mat-list-item>
        <a mat-list-item href="" class="mb-3">
            <span class="text-[18px]">Project List</span>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a mat-list-item href="" class="mb-3" routerLink="/projects/create">
            <span class="text-sky-500 text-[18px]">New</span>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a mat-list-item routerLink="/projects/create">
            <span class="text-[14px]">Project</span>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a mat-list-item href="">
            <span class="text-[14px]">Customer</span>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a mat-list-item href="">
            <span class="text-[14px]">Supplier</span>
        </a>
    </mat-list-item>
    <!-- <mat-sidenav-content>
        <app-project-list></app-project-list>
    </mat-sidenav-content> -->
</mat-nav-list>