<mat-toolbar class="flex relative z-10">
    <div class="flex ml-14">
    <a routerLink="/">
        <img src="../../../assets/logo_elca.png" alt="">
    </a>
    <a routerLink="/" class="mx-9 mt-3">Project Information Management</a>
</div>
    <!-- Use "flex-grow" to push the following elements to the right -->
    <span class="flex-grow"></span>

    <span class="flex items-center space-x-4 mr-20 text-sm">
        <button class="text-sky-500" [ngClass]="">EN</button>
        <span class="text-sky-500">|</span>
        <button class="text-sky-500">FN</button>
    </span>

    <span class="flex items-center space-x-4 mr-20 text-sm">
        <button class="mr-20">Help</button>
        <button class="text-gray-400 mr-20">Log out</button>
    </span>
</mat-toolbar>