<div class="flex justify-center mt-20 mr-40">
    <div class="flex mr-20">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Cross_red_circle.svg" alt="Red Cross" width="200"
            height="200">
    </div>
    <div class="mt-5">
        <h2 class="mb-4 font-bold text-slate-500">Unexpected error occurred.</h2>
        <h2 class="flex mb-4 font-bold text-slate-500 justify-between">
            <span class="mr-2">Please</span>
            <h2 class="text-red-600 mb-4 font-bold">contact your administrator
            </h2>
        </h2>
        <h2 class="mb-4 font-bold text-slate-500">or
            <a class="mb-4 font-bold text-sky-500" href="#"> back to search project</a>
        </h2>
    </div>
</div>